<?xml version="1.0" encoding="utf-8" ?>
<configuration>
		<connectionStrings>
			<add name= "conexionsql"
			connectionString = "VXq3bRJvYAKDJ1msxhilzat5JPXvUcbcDayXA92H30vWpz/IKHeVtIvzR0Xq05P5jrTIxo8w9W7kizS2GaRoN5Gz5iJBYkjQo76T7AWFicXAOSV8pcug3rEKlAqdWBIsolaicMfUTRgVAry8AOH1D0T4jf8cuWNKLNWXr6J13Ubb3LMTtKFOtU0Ql+OM/BSy1nyO3UqjiMk57VznXAdWXSHjQmrt+8NrLwnpA4kVflFW2o7K2RpKmmXY+ytwC6lsSSLgI6RvFDWuAawrQfkG6pVQ9T2m2EPxKv+O8o0glN1bqystGiES4VJriIcbU6IkPmj7ljUXylQ7/KZa8pN3dQADsqU8Xu10v15TXEGPkuqZO31rLmSDjZjSKvkKJd+q"
			providerName = "System.Data.SqlClient" />
		</connectionStrings>
</configuration>